/* style.css */
body {
  background: rgb(245, 245, 245);
  color: green;
  font-size: 15px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: red;
  font-weight: lighter;
  font-size: 10px;
}

h2 {
  font-weight: lighter;
}

a {
  color: black;
  font-family: 'Permanent Marker', sans-serif;
}

a:hover {
  text-decoration: none;
  color: purple;
}

#banner{
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1489851483870-c048df0cdea8?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: #F9F1E0;
  font-weight: normal;;
  font-size: 50px;
}
#banner p {
  font-weight: lighter;
  color: #EECF59;
  font-size: 30px;
}
#footer{
  padding: 30px;
  background: rgb(30,30,30);
  color: lightgrey;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: #EECF59;
}

#footer p {
  font-size: 15px;
}

.card {
  border: 1px, solid, #cecece;
  border-radius: 5px;
}

.social-media li {
  display: inline;
  font-size: 35px;
}
